* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#index {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(/img/Valorant-sillos-twitch.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: rgb(0, 0, 0);
    text-shadow: 0 0 2px rgb(124, 200, 252), 0 0 4px rgb(10, 200, 248);
    letter-spacing: 2px;

    .spam {
        display: block;
        position: absolute;
        top: 30px;
        font-size: 3rem;

        a {
            text-decoration: none;
        }
    }

    .container-form {
        width: 90%;
        height: 90vh;
        display: flex;
        justify-content: space-around;
        transition: all .5s ease-out;

        .welcome-back {
            display: flex;
            align-items: center;
            text-align: center;

            .message {
                padding: 1rem;

                h2 {
                    font-size: 1.7rem;
                    padding: 1rem 0;
                }

                button {
                    padding: 1rem;
                    font-weight: 400;
                    background-color: rgb(1, 115, 221);
                    color: white;
                    text-shadow: 0 0 6px black;
                    letter-spacing: 1px;
                    border-radius: 2rem;
                    border: none;
                    outline: none;
                    cursor: pointer;
                    font-size: .9rem;
                    margin-top: 2rem;
                    transition: all .2s ease-in;

                    &:hover {
                        background-color: rgb(54, 54, 250);
                        color: rgb(68, 202, 255);
                        text-shadow: 0 0 3px black, 0 0 6px black
                    }
                }
            }
        }

        .formulario {
            width: 400px;
            padding: 1rem;
            margin: 2rem;
            background-color: rgba(41, 0, 107, 0.671);
            text-align: center;

            .create-account {
                padding: 2.7rem 0;
                font-size: 1.7rem;
            }

            .cuenta-gratis {
                padding: 2rem 0;
            }

            input {
                width: 70%;
                display: block;
                margin: auto;
                margin-bottom: 2rem;
                background-color: transparent;
                border: none;
                border-bottom: white thin solid;
                text-align: center;
                outline: none;
                padding: .2rem 0;
                font-size: .9rem;
                color: white;
            }

            input[type="submit"] {
                width: 60%;
                margin: auto;
                border: solid thin white;
                padding: .7rem;
                border-radius: 2rem;
                background-color: white;
                font-weight: 600;
                margin-top: 3rem;
                font-size: .8rem;
                cursor: pointer;
                color: rebeccapurple;
                letter-spacing: 1px;

                &:hover {
                    background-color: rgb(54, 54, 250);
                    color: rgb(68, 202, 255);
                    text-shadow: 0 0 3px black, 0 0 6px black
                }
            }
        }
    }

    .sign-in {
        position: absolute;
        opacity: 0;
        visibility: hidden;

        &.active {
            opacity: 1;
            visibility: visible;
        }
    }

    .sign-up.active {
        opacity: 0;
        visibility: hidden;
    }
}

.Home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    background: url(../img/Valorant-sillos-twitch.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: rgb(0, 0, 0);
    text-shadow: 0 0 2px rgb(124, 200, 252), 0 0 4px rgb(10, 200, 248);
    letter-spacing: 2px;

    .btns2 {

        display: flex;
        padding: 1%;
        width: 70%;
        justify-content: space-between;
        border-radius: 50px;
        background: linear-gradient(rgba(0, 0, 255, 0), black, rgba(0, 0, 255, 0));

        button {
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            font-size: 2rem;
            background-color: transparent;
            color: white;
            border: none;

            &:hover {
                color: rgb(0, 119, 255);
                text-shadow: 0 0 10px blue, 0 0 20px darkblue;
            }
        }
    }

    #news {
        width: 80%;
        border-radius: 50px;
        background-color: black;
        padding: 2%;
        border: 5px solid rgba(81, 81, 255, 0.363);
        box-shadow: 0 0 10px #00a2ff;
        font-size: 1.4rem;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

        h4,
        h5 {
            font-size: 1.7rem;
        }

        p,
        ul {
            margin: 10px;
            text-shadow: none;
            color: white;
            font-family: 'Times New Roman', Times, serif;

            li {
                margin-left: 2%;
            }
        }
    }

    #weapons {
        div {
            letter-spacing: 5px;
            padding: 1%;
            background-color: black;
            display: flex;
            width: 100%;
            margin: 20px;
            border-radius: 5px;
            border: 2px solid aqua;
            box-shadow: 0 0 10px aqua;

            div {
                display: flex;
                flex-direction: column;
                text-align: center;

                img {
                    border: 2px solid aqua;
                    height: 100%;
                }
            }
        }
    }

    #agents {
        padding: 5%;
        
        #datos {
            background-color: rgba(0, 0, 0, 0.5);
            border-radius: 50px;
            border: solid 2px darkblue;
            box-shadow: 0 0 10px #00a2ff, 0 0 30px blue;
            div {
                display: flex;              

                .agente {
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-attachment: local;
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    justify-content: space-around;
                    align-items: center;
                    h3{
                        font-size: 5rem;
                    }
                    p{
                        font-size: 1.5rem;
                        background-color: rgba(0, 0, 0, 0.747);
                        border-radius: 20px;
                    }

                    img {
                        width: 30%;
                        height: 200px;
                    }
                }

                .agente2 {
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }

    #maps {
        div {
            width: 100%;
            text-align: center;

            div {
                width: 1000px;

                div {
                    width: 100%;

                    h3 {
                        font-size: 3rem;
                    }

                    p {
                        font-size: 1.5rem;
                        background-color: rgba(0, 0, 0, 0.726);
                        border-radius: 50px;
                        padding: 10px;
                    }

                    img {
                        width: 50%;
                        height: 600px;
                        border-radius: 20px;
                    }
                }
            }
        }
    }

    #profile {
        width: 80%;

        div {
            width: 100%;
            display: flex;
            padding: 2%;
            border-radius: 50px;

            .datos {
                background-color: black;
                margin-right: 10px;
                display: flex;
                flex-direction: column;
                height: 600px;
                justify-content: space-around;

                .encabezado {
                    display: flex;
                    align-items: center;
                }

                .stats {
                    display: flex;
                    flex-direction: column;
                    gap: 30px;
                    text-align: center;
                    justify-content: center;
                    align-items: center;
                    font-size: 1.5rem;
                }

                img {
                    width: 80px;
                    height: 80px;
                    margin-right: 20px;
                }
            }

            .grafico {
                width: 30%;
                background-color: black;
                display: flex;
                flex-direction: column;
                text-align: center;
                gap: 20px;

                h3 {
                    font-size: 3rem;
                }

                p {
                    font-size: 2rem;
                }
            }
        }
    }

    header {
        display: flex;
        justify-content: space-around;
        width: 100%;
        padding: 2rem 0;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

        nav {
            font-size: 1.4rem;
            display: flex;
            width: 30%;
            justify-content: space-around;

            a {
                text-decoration: none;
                color: white;
                letter-spacing: 5px;
                padding: 5px;

                &:hover {
                    color: #39b6ff;
                    text-shadow: 0 0 10px black;
                }
            }
        }

        h1 a {
            text-decoration: none;
            font-size: 3rem;
            -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
            line-height: 0.7em;
            z-index: 1;
            outline: none;
            -webkit-animation: animate 5s linear infinite;
            animation: animate 5s linear infinite;
        }

        @-webkit-keyframes animate {

            0%,
            18%,
            20%,
            50.1%,
            60%,
            65.1%,
            80%,
            90.1%,
            92% {
                color: #025d76;
                -webkit-box-shadow: none;
                box-shadow: none;
            }

            9%,
            18.1%,
            20.1%,
            30%,
            50%,
            60.1%,
            65%,
            80.1%,
            90%,
            92.1%,
            100% {
                color: cyan;
                text-shadow: 0 0 10px #03bcf4, 0 0 20px #03bcf4, 0 0 40px #03bcf4, 0 0 80px #03bcf4, 0 0 160px #03bcf4;
            }
        }

        @keyframes animate {

            0%,
            18%,
            20%,
            50.1%,
            60%,
            65.1%,
            80%,
            90.1%,
            92% {
                color: #0196ec;
                -webkit-box-shadow: none;
                box-shadow: none;
            }

            9%,
            18.1%,
            20.1%,
            30%,
            50%,
            60.1%,
            65%,
            80.1%,
            90%,
            92.1%,
            100% {
                color: darkblue;
                text-shadow: 0 0 10px #03bcf4, 0 0 20px #03bcf4, 0 0 40px #03bcf4, 0 0 80px #03bcf4, 0 0 160px #03bcf4;
            }
        }
    }

    main {
        h2 {
            text-align: center;
            font-size: 4rem;
            padding: 2rem 0;
        }

        .example {
            margin-top: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            gap: 1rem;
            background-color: rgba(0, 0, 0, 0.9);
            padding: 2rem;
            width: 100%;
            border-radius: 1.5rem;
            color: white;
            font-size: 1.5rem;
            letter-spacing: 3px;
            text-shadow: none;
            box-shadow: 0 0 30px #0196ec, 0 0 40px black;

            p {
                font-size: 2.5rem;
            }
        }

        .card {
            margin-top: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            gap: 1rem;
            background-color: rgba(0, 0, 0, 0.9);
            padding: 2rem;
            width: 100%;
            border-radius: 1.5rem;
            color: white;
            letter-spacing: 3px;
            text-shadow: none;
            box-shadow: 0 0 30px #0196ec, 0 0 40px black;

            input {
                width: 60%;
                letter-spacing: 1px;
                font-size: 1.1rem;
                text-align: center;
                background-color: black;
                color: white;
                font-family: 'Times New Roman', Times, serif;
                border: #0196ec 2px solid;
                box-shadow: 0 0 10px #0196ec;
            }
        }
    }
}